<!DOCTYPE html>
<html lang="en">


<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="EduChamp : Education HTML Template" />
	
	<!-- OG -->
	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="front/assets/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="front/assets/images/favicon.png" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>EduChamp : Education HTML Template </title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="front/assets/js/html5shiv.min.js"></script>
	<script src="front/assets/js/respond.min.js"></script>
	<![endif]-->
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="assets/css/assets.css">
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="front/assets/css/typography.css">
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="front/assets/css/shortcodes/shortcodes.css">
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="front/assets/css/style.css">
	<link class="skin" rel="stylesheet" type="text/css" href="front/assets/css/color/color-1.css">
	
</head>
<body id="bg">
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image:url(front/assets/images/background/medium-shot-people-graduating.jpg);">
			<a href="index.html"><img src="front/assets/images/logo-white-2.png" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="heading-bx left">
					<h2 class="title-head">Connectez-vous à votre <span>Compte</span></h2>
				</div>	
				<form class="contact-bx" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

					<div class="row placeani">
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<label>Votre Username</label>
									<input name="username" id="inputUsername" type="text" required="" class="form-control" value="{{ last_username }}">
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group"> 
									<label>Votre Password</label>
									<input type="password" name="password" id="inputPassword"  autocomplete="current-password"  class="form-control" required="">
								</div>
							</div>
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
						</div>
						<div class="col-lg-12">
							<div class="form-group form-forget">
								
								<a href="forget-password.html" class="ml-auto">Mot de passe oublié?</a>
							</div>
						</div>
						<div class="col-lg-12 m-b30">
							<button name="submit" type="submit" value="Submit" class="btn button-md">Me connecter</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- External JavaScripts -->
<script src="front/assets/js/jquery.min.js"></script>
<script src="front/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="front/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="front/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="front/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="front/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="front/assets/vendors/counter/waypoints-min.js"></script>
<script src="front/assets/vendors/counter/counterup.min.js"></script>
<script src="front/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="front/assets/vendors/masonry/masonry.js"></script>
<script src="front/assets/vendors/masonry/filter.js"></script>
<script src="front/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="front/assets/js/functions.js"></script>
<script src="front/assets/js/contact.js"></script>
<script src='front/assets/vendors/switcher/switcher.js'></script>
</body>

</html>